{% extends 'libraryApp/base.html' %}

{% block content %}
    <section id="featured-books" class="py-5 my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-header align-center">
                        <h2 class="section-title">Authors</h2>
                    </div>
                    <form name="filter-form">
                        <div class="row" id="filter-form">
                            <div class="col-md-3">
                                <label style="margin-right: 10px">
                                    Filter by Library
                                    <select name="library" class="form-control">
                                        <option></option>
                                        {% if libraries %}
                                            {% for library in libraries %}
                                                <option value="{{ library.id }}">{{ library }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-3">
                                <label style="margin-right: 10px">
                                    Filter by Book Category
                                    <select name="category" class="form-control">
                                        <option></option>
                                        {% if categories %}
                                            {% for category in categories %}
                                                <option value="{{ category.id }}">{{ category }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </label>
                            </div>
                            <div class="text-left">
                                <a href="#"
                                   class="btn btn-default mr-5">Reset
                                    <i class="icon-reload-alt position-right"></i></a>
                                <button type="submit" class="btn btn-primary mr-20">Filter <i
                                        class="fa fa-search position-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="items-list" data-aos="fade-up">
                        {% if authors %}
                            {% for author in authors %}
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/product-item1.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Add to
                                            Cart
                                        </button>
                                    </figure>
                                    <figcaption>
                                        <h3>{{ author.first_name }} {{ author.last_name }}</h3>
                                        <span>{{ author }}</span>
                                        <div class="item-price">Books count: {{ author.books_in_library }}</div>
                                    </figcaption>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div><!--ft-books-slider-->
                </div><!--grid-->


            </div><!--inner-content-->
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="btn-wrap align-right">
                    <a href="#" class="btn-accent-arrow">View all products <i
                            class="icon icon-ns-arrow-right"></i></a>
                </div>

            </div>
        </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            let urlParams = new URLSearchParams(window.location.search);
            let library = urlParams.get('library');
            let category = urlParams.get('category');
            $("form[name='filter-form'] select[name='library']").val(library);
            $("form[name='filter-form'] select[name='category']").val(category);
        })
    </script>
{% endblock %}